ul {
    background-color: #ddd;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    list-style: none;
    margin: 0;
    z-index: 1;
}
ul li {
    display: inline-block;
    position: relative;
    background-color: #ddd;
}
ul li ul {
    display: none;
    position: absolute;
    top: -5px;
    left: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
ul li:hover ul {
    display: block;
}
ul li > *:first-child {
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 5px;
}
ul li > *:first-child:hover {
    background-color: #eee;
    /*border-color: #ccc;*/
}
ul li > *:first-child.active {
    box-shadow: 2px 2px 1px #000;
    background-color: #fff;
}

ul li svg {
    background-color: transparent;
}
svg use {
    pointer-events: none;
}
#symbols {
    display: none;
}

pre {
    overflow : scroll;
    white-space : pre;
    outline : none;
    tab-size : 3;
    margin: 0;
    background-color: #282c34;
    color: #abb2bf;
    padding: 10px 15px;
    box-sizing: border-box;
}

pre .hi-node {
    color: #e06c75;
}

pre .hi-attribute {
    color: #d19a66;
}

pre .hi-string {
    color: #98c379;
}