.color-circle {
    position: relative;
    width: 226px;
    height: 226px;
}
.color-circle div {
    position:absolute;
    width:6px;
    height:6px;
    border-radius: 50%;
}

.color-circle div:hover {
    width:12px;
    height:12px;
    transform: translate(-25%, -25%);
    z-index: 1;
}