#layers {
    counter-reset: item;
    margin: 0 0 15px 0;
}

#layers > div, #layers div > div {
    margin: 0;
    padding: 5px 0 0 20px;
    clear: both;
}

#layers > div:before, #layers div > div:before {
    content: " ";
    float: left;
    min-width: 15px;
    min-height: 1em;
}

#layers > div:not(.dragging):before {
    content: counter(item) " ";
    counter-increment: item;
}

#layers > div.dragging:before, #layers > div.dragging div:before {
    content: " ";
    counter-increment: none;
}

#layers > div:after, #layers div > div:after {
    clear: both;
    content: "";
    display: table;
}

#layers > div {
    cursor: default;
    line-height: 1.2em;

}

#layers li:last-child .merge {
    /*display: none;*/
}
#layers span {
    cursor: pointer;
    margin:0 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    float: right;
    vertical-align: middle;
}
#layers svg {
    width: 20px;
    height: 20px;
}
#layers .title {
    float: left;
    min-width: 100px;
    max-width: 100px;
}
#layers .error, #layers .success, #layers .display {
    border-radius: 50%;
    border: 2px solid red;
    width: 8px;
    height: 8px;
    /*transform: translate(0, 50%);*/
}

#layers .error:before, #layers .success:before, #layers .display:before {
    content: "";
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-45deg);
    height: 2px;
    width: 2px;
    margin: 4px 0 0 4px;
    border-radius: 50%;
}

#layers .success {
    border: 2px solid green;
}

#layers .display {
    border: 2px solid black;
}

/*#layers .display {*/
/*    border: 2px solid black;*/
/*}*/

#layers .display.static:before {
    width: 10px;
    height: 10px;
}

#layers .error.hidden:before, #layers .success.hidden:before, #layers .display.hidden:before {
    height: 1px;
    width: 8px;
}

/*#layers .display.static {*/
/*    background-color: black;*/
/*}*/

#layers .error.visible:before, #layers .error.hidden:before {
    background-color: red;
}

#layers .success.visible:before, #layers .success.hidden:before {
    background-color: green;
}

#layers .display.static:before, #layers .display.hidden:before {
    background-color: black;
}

