#layers {
    counter-reset: item;
    margin: 0 0 15px 0;

}

#layers .tools {
    display: flex;
    justify-content: end;
}

#layers > div, #layers div > div {
    margin: 0;
    padding: 5px 0 5px 20px;
    clear: both;
    box-sizing: border-box;
}

#layers > div:before, #layers div > div:before {
    content: " ";/*↳*/
    float: left;
    min-width: 15px;
    min-height: 1em;

}

#layers div > div:before {
    background-image: url( 'arrow-down-right-solid.svg' );
    background-repeat: no-repeat;
}

#layers > div:not(.dragging):before {
    content: counter(item) " ";
    counter-increment: item;
}

#layers > div.dragging:before, #layers > div.dragging div:before {
    content: " ";
    counter-increment: none;
}

#layers > div:after, #layers div > div:after {
    clear: both;
    content: "";
    display: table;
}

#layers > div {
    cursor: default;
    line-height: 1.2em;

}

#layers li:last-child .merge {
    /*display: none;*/
}
#layers .tools span {
    cursor: pointer;
    margin:0 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    /*float: right;*/
    vertical-align: middle;
}
#layers svg {
    width: 20px;
    height: 20px;
}
#layers span.title {
    /*float: left;*/
    margin-right: auto;
    min-width: 100px;
    max-width: 100px;
}
#layers .error, #layers .success, #layers .display {
    border-radius: 50%;
    border: 2px solid red;
    width: 8px;
    height: 8px;
    /*transform: translate(0, 50%);*/
}

#layers .error:before, #layers .success:before, #layers .display:before {
    content: "";
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-45deg);
    height: 2px;
    width: 2px;
    margin: 4px 0 0 4px;
    border-radius: 50%;
}

#layers .success {
    border: 2px solid green;
}

#layers .display {
    border: 2px solid black;
}

/*#layers .display {*/
/*    border: 2px solid black;*/
/*}*/

#layers .display.static:before {
    width: 10px;
    height: 10px;
}

#layers .error.hidden:before, #layers .success.hidden:before, #layers .display.hidden:before {
    height: 1px;
    width: 8px;
}

/*#layers .display.static {*/
/*    background-color: black;*/
/*}*/

#layers .error.visible:before, #layers .error.hidden:before {
    background-color: red;
}

#layers .success.visible:before, #layers .success.hidden:before {
    background-color: green;
}

#layers .display.static:before, #layers .display.hidden:before {
    background-color: black;
}

#layers span.icontip {
    /*position: absolute;*/
    z-index: 1000;
    display: none;
    /*margin: 0 0 0 -100px;*/
    width: 0;
    height: 0;
    --margin:0;
}

#layers span.icontip::after {
    content: attr(title);
    background: rgba(0,0,0,.7);
    color: #fff;
    position: absolute;
    /*top: -28px;*/
    line-height: 20px;
    transform: translate(-50%, 0);
    padding: 0 9px;
    border-radius: 3px;
    font-size: 11px;
    letter-spacing: .05em;
    margin-top: -28px;
    margin-left: var(--margin);
    /*background: rgb(0,0,0);
    background: transparent\9;
    background: rgba(0,0,0,0.9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);

    font-weight: normal;
    box-sizing: border-box;
    text-shadow: none;
    text-align: left !important;
    white-space: nowrap;
    display: inline-block;
    left: 0;*/
}

#layers span.icontip::before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-width: 8px;
    border-top-color: rgba(0,0,0,.7);
    /*top: 0;*/
    transform: translate(-50%,-50%);
    margin-left: var(--margin);
    /*left: 0;*/
}

#layers .title:hover + span.icontip:not([title=""]) {
    display: inline;
    overflow: visible;
}

