html, body {
    height:100%;
}
body {
    background-color: #eee;
    padding: 0;
    margin: 0;
    font: 14px sans-serif;
}
button, input[type="submit"] {
    padding: 2px 10px;
}
.col {
    padding: 10px;
    float: left;
}
.row {
    clear: left;
}
svg {
    background-color: #fff;
}
#tools, .editor {
    display: none;
}

.editing #tools {
    display: inline-flex;
    flex-direction: column;
}

.editing .editor {
    display: block;
}

.editing svg  * {
    opacity: 1;
}

.editing svg#game *:hover {
    stroke: #0000ff;
}

/*.editing svg.gettarget .locked {
    display: none;
}*/

.editing svg .visible-on-error, .editing svg .visible-on-error * {
    /*opacity: 1;*/
    stroke: red;
}

.editing svg .hidden {
    /*display: none;*/
    opacity: .3;
}

.editing svg .visible-on-success, .editing svg .visible-on-success * {
    /*opacity: 1;*/
    stroke: green;
}

.popup .attributes {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /*align-items: center;*/
}

.popup .attributes input {
    /*background-color: #eee;*/
    width: 100%;
    width: calc(100% - 15px);
    text-align: left;
}

.popup .attributes input[type="submit"] {
    text-align: center;
}

.popup .attributes * {
    line-height: 1.5;
    margin: 0 10px 10px 0;
    padding: 0 0 0 5px;
}

.popup .attributes > :nth-child(2n+1) {
    /*font-weight: bold;*/
    text-align: right;
}

.popup .attributes span {
    padding-top: 2px;
}


#examples {
    float: right;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#examples svg {
    width: 80px;
    height: 80px;
    margin: 5px;
}

#editor .guide {
    position: absolute;
}

